/modlib
**/x86_64
/.tox
*.pyc
*.egg-info
.eggs
/dist
/jekylltest
/doc/build
/docs/build
/docs/source/_autosummary
.debug
.profiling
.vscode
/.python-version
coverage.xml
.coverage
.coverage*
*_t=0.0.nrndat
*.DS_STORE
.tox-info.json
nrnivmodl.log
.mypy_cache
.ruff_cache
.pytest_cache
*.btr
*.whl
.ipynb_checkpoints
