rm -rf build
mkdir build
cd build
cmake .. -DMODLIBPATH=$HOME/src/BlueBrain/lib/modlib -DHOCLIBPATH=$HOME/src/BlueBrain/lib/hoclib -DNRNPATH=/usr/local/nrnnoiv -DCMAKE_INSTALL_PREFIX=$HOME/local/bglibpy
make VERBOSE=0
make install
