#!/bin/bash

set -e

#Example build script for BGLibPy

export NEURON_HOME=$HOME/hbpcol/local/nrnpython
export NRNPYTHONPATH=${NEURON_HOME}/lib64/python

#rm -rf build_viz
mkdir -p build_hbpcol
cd build_hbpcol

cmake .. \
    -DMODLIBPATH=$HOME/hbpcol/local/bbp/lib/modlib \
    -DHOCLIBPATH=$HOME/hbpcol/local/bbp/lib/hoclib \
    -DNRNPATH=${NEURON_HOME} \
    -DMODULEPATH=${HOME}/hbpcol/local/share/modules \
    -DNRNPYTHONPATH=${NRNPYTHONPATH} \
    -DBLUEPYPATH=$HOME/hbpcol/local/bluepy/lib/python2.6/site-packages \
    -DCMAKE_INSTALL_PREFIX=$HOME/local/bglibpy

make -j12 install VERBOSE=1

ctest -VV
