Run Default
{{
        Date    22:11:12
        Time    14:27:09
          svnPath https://bbpteam.epfl.ch/svn/bluebrain
          Version 1094
           Prefix /bgscratch/bbp/release/02.04.12
   MorphologyPath /bgscratch/bbp/morphologies/31.05.12
       METypePath /bgscratch/bbp/CCells/b24.07.12

      CircuitPath {circuit_path}
          nrnPath {circuit_path}/ncsFunctionalAllRecipePathways
  NumSynapseFiles 8192

        CurrentDir {path}
      OutputRoot {path}/output
      TargetFile {path}/user.target

        RunMode WholeCell
    CircuitTarget Mosaic
         Duration 1000
               Dt 0.025

         baseSeed 12345
}}

Report soma
{{
        Target Mosaic
        Type compartment
        ReportOn v
        Unit mV
        Format Bin
        Dt 0.1
        StartTime 0
        EndTime 20000
}}
