Target Cell Mosaic
{
 a1 a2
}
Target Cell Layer5
{
 mc2_Layer5
}
Target Cell Layer6
{
 mc6_Layer6
}
Target Cell Layer4n6
{
 mc6_Layer4n6
}
Target Cell Excitatory
{
 mc2_Excitatory mc6_Excitatory
}
Target Cell Pyramidal
{
 mc2_Pyramidal mc6_Pyramidal
}
Target Cell L5_TTPC1
{
 mc2_L5_TTPC1
}
Target Cell L6_TPC_L1
{
 mc6_L6_TPC_L1
}
Target Cell mc2_Layer5
{
 a1
}
Target Cell mc2_Column
{
 mc2_Layer5
}
Target Cell mc2_Excitatory
{
 mc2_L5_TTPC1
}
Target Cell mc2_Pyramidal
{
 mc2_L5_TTPC1
}
Target Cell mc2_L5_TTPC1
{
 a1
}
Target Cell mc2_MiniColumn_43
{
 MiniColumn_663
}
Target Cell MiniColumn_663
{
 a1
}
Target Cell mc6_Layer6
{
 a2
}
Target Cell mc6_Column
{
 mc6_Layer6
}
Target Cell mc6_Excitatory
{
 mc6_L6_TPC_L1
}
Target Cell mc6_Pyramidal
{
 mc6_L6_TPC_L1
}
Target Cell mc6_L6_TPC_L1
{
 a2
}
Target Cell mc6_MiniColumn_16
{
 MiniColumn_1876
}
Target Cell mc6_Layer4n6
{
 mc6_Layer6
}
Target Cell MiniColumn_1876
{
 a2
}
Target Cell MiniColumn_1876_Layer4n6
{
 a2
}
Target Cell MiniColumn_1876_Layer6
{
 a2
}
Target Compartment AllCompartments
{
 Mosaic
}
